# Compose file for DEVELOPMENT

version: '3.8'
services:
  nest:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./:/opt/app
    env_file:
      - .env
    ports:
      - "3000:3000"

  postgres:
    image: 'postgres:latest'
    restart: always
    volumes:
      - ./pg_data:/var/lib/postgresql/data/pgdata
    environment:
      - POSTGRES_USER=fvl
      - POSTGRES_PASSWORD=segura123!
      - POSTGRES_DB=db_fvl
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - '5432:5432'

